@model int

@if (Model > 0)
{
    <span class="position-absolute translate-middle badge rounded-pill bg-danger" style="top: 8px; right: 0;">
        @Model
        <span class="visually-hidden">properties needing payment</span>
    </span>
} 