<div class="row">
    <div class="col-md-6 mb-3">
        <label asp-for="City" class="form-label fw-medium">City</label>
        <input asp-for="City" class="form-control shadow-sm" />
        <span asp-validation-for="City" class="text-danger small"></span>
    </div>
    <div class="col-md-6 mb-3">
        <label asp-for="PostalCode" class="form-label fw-medium">Postal Code</label>
        <input asp-for="PostalCode" class="form-control shadow-sm" />
        <span asp-validation-for="PostalCode" class="text-danger small"></span>
    </div>
</div> 