@using EstateEase.Models.ViewModels
@inject IConfiguration Configuration
@model PropertyViewModel
@{
    ViewData["Title"] = "Add Property";
    Layout = "_AgentHeader";
    var tinyMCEApiKey = Configuration.GetValue<string>("TinyMCE:ApiKey");
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm mb-4">
            <div class="card-header py-4 bg-primary text-white">
                <h5 class="card-title mb-0 fw-bold">Add Property</h5>
            </div>

            <div class="card-body p-5">
                <h5 class="card-title mb-5 fw-bold">Property Details</h5>
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
                        <i class="bi bi-exclamation-circle me-2"></i>
                        @TempData["Error"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
                        <i class="bi bi-check-circle me-2"></i>
                        @TempData["Success"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <form method="post" enctype="multipart/form-data" asp-action="Add" asp-controller="Property"
                    asp-area="Agent" class="needs-validation">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-5"></div>

                    <div class="row g-5">
                        <div class="col-xl-12">
                            <div class="form-group row mb-3">
                                <label asp-for="Title" class="col-lg-2 col-form-label">Title</label>
                                <div class="col-lg-9">
                                    <input asp-for="Title" class="form-control" placeholder="Enter Title">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label asp-for="Content" class="col-lg-2 col-form-label">Content</label>
                                <div class="col-lg-9">
                                    <textarea asp-for="Content" class="form-control tinymce" rows="10"></textarea>
                                    <span asp-validation-for="Content" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="form-group row mb-3">
                                <label asp-for="PropertyType" class="col-lg-3 col-form-label">Property Type</label>
                                <div class="col-lg-9">
                                    <select asp-for="PropertyType" class="form-control">
                                        <option value="" disabled selected>Select Type</option>
                                        <option value="Single-Family Detached House">
                                            Single-Family Detached House
                                        </option>
                                        <option value="Townhouse ">Townhouse </option>
                                        <option value="Duplex ">Duplex </option>
                                        <option value="Bungalow ">Bungalow </option>
                                        <option value="Villa">Villa</option>
                                    </select>
                                    <span asp-validation-for="PropertyType" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label asp-for="Bedrooms" class="col-lg-3 col-form-label">Bedrooms</label>
                                <div class="col-lg-9">
                                    <input asp-for="Bedrooms" class="form-control" type="number"
                                        placeholder="Enter number of bedrooms">
                                    <span asp-validation-for="Bedrooms" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label asp-for="Bathrooms" class="col-lg-3 col-form-label">Bathrooms</label>
                                <div class="col-lg-9">
                                    <input asp-for="Bathrooms" class="form-control" type="number"
                                        placeholder="Enter number of bathrooms">
                                    <span asp-validation-for="Bathrooms" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label asp-for="SellingType" class="col-lg-3 col-form-label">Selling Type</label>
                                <div class="col-lg-9">
                                    <select asp-for="SellingType" class="form-control">
                                        <option value="" disabled selected>Select Type</option>
                                        <option value="Rent">Rent</option>
                                        <option value="Sale">Sale</option>
                                    </select>
                                    <span asp-validation-for="SellingType" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label asp-for="Address" class="col-lg-3 col-form-label">Address</label>
                                <div class="col-lg-9">
                                    <textarea asp-for="Address" class="form-control" placeholder="Enter Address"
                                        rows="4"></textarea>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="form-group row mb-3">
                                <label asp-for="Balcony" class="col-lg-3 col-form-label">Balcony</label>
                                <div class="col-lg-9">
                                    <input asp-for="Balcony" class="form-control" type="number"
                                        placeholder="Enter number of balcony">
                                    <span asp-validation-for="Balcony" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label asp-for="Kitchen" class="col-lg-3 col-form-label">Kitchen</label>
                                <div class="col-lg-9">
                                    <input asp-for="Kitchen" class="form-control" type="number"
                                        placeholder="Enter number of kitchen">
                                    <span asp-validation-for="Kitchen" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label asp-for="Hall" class="col-lg-3 col-form-label">Hall</label>
                                <div class="col-lg-9">
                                    <input asp-for="Hall" class="form-control" type="number"
                                        placeholder="Enter number of hall">
                                    <span asp-validation-for="Hall" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="TotalFloors" class="col-lg-3 col-form-label">Total Floors</label>
                                <div class="col-lg-9">
                                    <input asp-for="TotalFloors" class="form-control" type="number"
                                        placeholder="Enter number of floors">
                                    <span asp-validation-for="TotalFloors" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label asp-for="Price" class="col-lg-3 col-form-label">Price (₱)</label>
                                <div class="col-lg-9">
                                    <input asp-for="Price" class="form-control" type="number" placeholder="Enter Price"
                                        min="0" step="any">
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label asp-for="Size" class="col-lg-3 col-form-label">Area (sq m)</label>
                                <div class="col-lg-9">
                                    <input asp-for="Size" class="form-control" type="number" step="0.01"
                                        placeholder="Enter property area">
                                    <span asp-validation-for="Size" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <hr class="section-divider my-4" style="height: 2px;">
                            <h5 class="card-title mb-4 fw-bold">Property Features</h5>

                            <div class="form-group row mb-3">
                                <div class="col-lg-9 offset-lg-2">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-check mb-3">
                                                <input asp-for="HasSwimmingPool" class="form-check-input"
                                                    type="checkbox">
                                                <label asp-for="HasSwimmingPool" class="form-check-label">
                                                    Swimming Pool
                                                </label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input asp-for="HasParking" class="form-check-input" type="checkbox">
                                                <label asp-for="HasParking" class="form-check-label">Parking</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input asp-for="HasGym" class="form-check-input" type="checkbox">
                                                <label asp-for="HasGym" class="form-check-label">Gym</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-check mb-3">
                                                <input asp-for="HasSecurity" class="form-check-input" type="checkbox">
                                                <label asp-for="HasSecurity" class="form-check-label">Security</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input asp-for="HasElevator" class="form-check-input" type="checkbox">
                                                <label asp-for="HasElevator" class="form-check-label">Elevator</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input asp-for="HasCCTV" class="form-check-input" type="checkbox">
                                                <label asp-for="HasCCTV" class="form-check-label">CCTV</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <hr class="section-divider my-4" style="height: 2px;">
                        <h5 class="card-title mt-4 mb-4 fw-bold">Image & Status</h5>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group row mb-3">
                                    <label class="col-lg-3 col-form-label">Property Images</label>
                                    <div class="col-lg-9">
                                        <input type="file" asp-for="PropertyImages" class="form-control mb-2" multiple>
                                        <span asp-validation-for="PropertyImages" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label class="col-lg-3 col-form-label">Floor Plan Image</label>
                                    <div class="col-lg-9">
                                        <input type="file" asp-for="FloorPlanImage" class="form-control mb-2">
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label asp-for="Status" class="col-lg-3 col-form-label">Status</label>
                                    <div class="col-lg-9">
                                        <select asp-for="Status" class="form-control">
                                            <option value="" disabled selected>Select Status</option>
                                            <option value="Available">Available</option>
                                            <option value="Sold">Sold</option>
                                            <option value="Rented">Rented</option>
                                        </select>
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="form-group row mb-3">
                                    <label class="col-lg-3 col-form-label">Ground Floor Plan</label>
                                    <div class="col-lg-9">
                                        <input type="file" asp-for="GroundFloorPlanImage" class="form-control mb-2">
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label class="col-lg-3 col-form-label">Basement Floor Plan</label>
                                    <div class="col-lg-9">
                                        <input type="file" asp-for="BasementPlanImage" class="form-control mb-2">
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label asp-for="IsFeatured" class="col-lg-3 col-form-label">
                                        Featured Property
                                    </label>
                                    <div class="col-lg-9">
                                        <select asp-for="IsFeatured" class="form-control">
                                            <option value="" disabled selected>Select...</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <hr class="section-divider my-4" style="height: 2px;">
                        <div class="form-group row">
                            <div class="col-lg-9 offset-lg-5">
                                <button type="submit" class="btn btn-primary px-5 custom-rounded">Add Property</button>
                                <a asp-controller="Property" asp-action="Index" asp-area="Agent"
                                    class="btn btn-outline-danger ms-2 custom-rounded">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/@tinyMCEApiKey/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '.tinymce',
            height: 300,
            plugins: [
                'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
                'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
                'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | blocks | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });
    </script>
}