@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_AdminLayout";
}

<div class="page-header">
    <div class="row">
        <div class="col">
            <h3 class="page-title">Dashboard</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-primary">
                        <i class="bi bi-building text-white"></i>
                    </span>
                    <div class="dash-count">
                        <h3>0</h3>
                    </div>
                </div>
                <div class="dash-widget-info">
                    <h6 class="text-muted">Properties</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-success">
                        <i class="bi bi-people text-white"></i>
                    </span>
                    <div class="dash-count">
                        <h3>0</h3>
                    </div>
                </div>
                <div class="dash-widget-info">
                    <h6 class="text-muted">Users</h6>
                </div>
            </div>
        </div>
    </div>



    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-warning">
                        <i class="bi bi-house-check text-white"></i>
                    </span>
                    <div class="dash-count">
                        <h3>0</h3>
                    </div>
                </div>
                <div class="dash-widget-info">
                    <h6 class="text-muted">Featured Properties</h6>
                </div>
            </div>
        </div>
    </div>
</div>